body{
    font-family: 'Gill Sans', sans-serif;
    overflow: hidden;
  }
  
  .wrapper{
     width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    transition: all 1s ease-out;
  }
  
  #quote-box{
    width: 500px;
    text-align: center;
    background-color: gray;
    position: absolute;
    top: 20%;
    left: 32%;
    border-radius: 10px;
  }
  
  #text{
    text-align: center;
    margin: 0 auto;
    font-family: 'Gill sans' cursive;
    font-size: 20px;
    margin-top: -2px;
    max-width: 90%;
  }
  
  #text i{
    margin-top: 25px;
  }
  
  #author{
    text-align: right;
    margin-right: 15px
  }
  
  #new-quote{
    width: 100px;
    height: 25px;
    float: right;
    margin-right: 12px;
    border: none; 
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: gray;
  }
  
  #new-quote:hover{
    filter: brightness(1.5);
  }
  
  #tweet-quote{
    float: left;
    font-size: 16px;
    margin-bottom:10px;
    margin-left:18px;
  }
  